<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="home-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="card">
      <h1>Mis cuentas</h1>

      <div hidden$="[[!storedUser.idusu]]">

        <p hidden$="[[cuentas]]">Hello, [[storedUser.nameUser]]! No tienes cuentas.</p>
        <p hidden$="[[!cuentas]]">Hello, [[storedUser.nameUser]]! Tienes acceso a tus cuentas:</p>


        <div class="row">
          <div class="col-md-12">

            <div class="card" style="padding: 5px; margin: 5px;" alt="Responsive card" hidden$="[[!cuentas]]">

              <div class="card-body">
                <h5 class="card-title">Lista de cuentas:</h5>
                <table class="table table-striped">
                  <thead>
                    <tr>

                      <th scope="col">Id</th>
                      <th scope="col">Cuenta</th>
                      <th scope="col">Saldo</th>
                      <th scope="col">Operaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template is="dom-repeat" items="{{cuentas}}">
                      <tr>
                        <td>{{item.id_account}}</td>
                        <td>{{item.iban}}</td>
                        <td>{{item.saldo}}</td>
                        <td>
                          <button type="button" class="btn btn-warning" on-click="verMovimiento">Movimientos</button>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>
        <div class="row" hidden$="[[!idCuenta]]">
          <div class="col-md-7">
            <div class="card" style="padding: 5px; margin: 5px;" alt="Responsive card">
              <div class="card-body">
                <h5 class="card-title">Cuenta: [[iban]] - Movimientos</h5>
                <template is="dom-if" if="[[delete]]">
                  <p class="alert-success"><strong>Éxito:</strong> [[delete]]</p>
                </template>
                <paper-button class="primary" raised on-tap="crearMovimiento">Crear movimiento</paper-button>
                <table class="table table-striped">
                  <thead>
                    <tr>

                      <th scope="col">Id</th>
                      <th scope="col">Operación</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Monto</th>
                      <th scope="col">Operaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template is="dom-repeat" items="{{movimientos}}">
                      <tr>
                        <td>{{item.id_movimiento}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.monto}}</td>
                        <td>
                          <button type="button" class="btn btn-danger" on-click="deleteMovimiento">Dar de baja</button>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-5" hidden$="[[!show]]">
            <div class="card" style="padding: 10px; margin: 5px;" alt="Responsive card">

              <div class="card-body">
                <h5 class="card-title">Movimiento:</h5>
                <template is="dom-if" if="[[error]]">
                  <p class="alert-error"><strong>Error:</strong> [[error]]</p>
                </template>
                <template is="dom-if" if="[[exito]]">
                  <p class="alert-success"><strong>Éxito:</strong> [[exito]]</p>
                </template>
                <div class="form-group">
                  <label for="cuenta">Id cuenta</label>
                  <input type="text" class="form-control" disabled required=true id="cuenta"
                    placeholder="Ingresa nombre" value="{{idCuenta::input}}">
                </div>
                <div class="form-group">
                  <label for="operacion">Operación<nav></nav></label>
                  <input type="text" class="form-control" id="operacion" placeholder="Operacion"
                    value="{{operacion::input}}">
                </div>
                <div class="form-group">
                  <label for="fecha">Fecha</label>
                  <input type="date" class="form-control" id="fecha" placeholder="Fecha" value="{{fecha::input}}">
                </div>
                <div class="form-group">
                  <label for="monto">Monto</label>
                  <input type="text" class="form-control" id="monto" placeholder="Monto" value="{{monto::input}}">
                </div>

                <button type="button" class="btn btn-success" on-click="crear">Dar de alta</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div hidden$="[[storedUser.idusu]]">

        <p>No estas logeado.Tu necesitas <a href="[[rootPath]]register-login">ingresar</a> para acceder a tus cuentas!
        </p>

      </div>




      <iron-ajax auto id="getAccounts" url="http://localhost:3001/tech/v2/accounts/{{storedUser.idusu}}"
        handle-as="json" last-response={{cuentas}} on-error="showError">

        <iron-ajax id="doMovimientos" url="http://localhost:3001/tech/v2/movimiento/{{idCuenta}}" handle-as="json"
          on-response="manageMovimientos" on-error="showError">

          <iron-ajax id="doEliminar" url="http://localhost:3001/tech/v2/movimiento/{{idMovimiento}}" method="DELETE"
            handle-as="json" on-response="manageEliminarMovimiento" on-error="showError">

            <iron-ajax id="doCrear" url="http://localhost:3001/tech/v2/movimientos" content-type="application/json"
              method="POST" handle-as="json" on-response="manageAJAXResponseCrear" on-error="showError">
  </template>

  <script>
    class HomeCuentas extends Polymer.Element {
      static get is() { return 'home-cuentas'; }
      static get properties() {
        return {
          idCuenta: {
            type: String,
            value: null
          },
          operacion: {
            type: String,
            value: null
          },
          fecha: {
            type: String,
            value: null
          },
          monto: {
            type: String,
            value: null
          },
          show: {
            type: Boolean,
            value: false
          },
          movimientos: []

        };
      }
      getCuenta() {
        console.log("listar");
        this.$.getAccounts.generateRequest();

      }
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }

      verMovimiento(e) {
        console.log("El usuario ha pulsado el botón ver movimientos");
        this.idCuenta = e.model.item.id_account;

        console.log(this.idCuenta);
        this.iban = e.model.item.iban;
        this.$.doMovimientos.generateRequest();

      }
      manageMovimientos(data) {
        this.movimientos = data.detail.response;
        console.log(this.movimientos);
      }

      deleteMovimiento(e) {
        console.log("El usuario ha pulsado el botón eliminar");
        this.idMovimiento = e.model.item.id_movimiento;
        console.log(this.idMovimiento);
        this.$.doEliminar.generateRequest();
      }

      //Dar de baja
      manageEliminarMovimiento(data) {

        console.log("Recibida respuesta del servidor eliminar");
        let numMovimiento = data.detail.response.id_movimiento;


        // this.opEliminar= true;
        console.log(numMovimiento);
        this.$.doMovimientos.generateRequest();
        this.delete = `Movimiento N- ${numMovimiento} eliminado`;
      }

      crearMovimiento() {
        this.show = true;

      }

      crear(e) {
        console.log("El usuario ha pulsado el botón dar de alta");

        var movimiento = {
          "id_account": this.idCuenta,
          "descripcion": this.operacion,
          "fecha": this.fecha,
          "monto": this.monto
        };

        this.$.doCrear.body = JSON.stringify(movimiento);
        this.$.doCrear.generateRequest();
      }

      manageAJAXResponseCrear(data) {
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response.id_movimiento);
        this.newIdMov = data.detail.response.id_movimiento;
        if (data.detail.response != undefined) {
          this.exito = "Movimiento registrado";
          console.log('Movimiento registrado!');
          //limpiar campos
          this.operacion = null;
          this.fecha = null;
          this.monto = null;
          /*    console.log(window.location.href);
            window.location = 'visor-usuario';
           window.location.href = "/visor-usuario/visor-usuario.html";*/
        } else {
          console.log('Movimiento no registrado!');
          this.error = "Movimiento no registrado";
        }
        this.$.doMovimientos.generateRequest();

      }


    }



    window.customElements.define(HomeCuentas.is, HomeCuentas);
  </script>
</dom-module>