<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="list-usuarios">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .form-control {
      border:  1px solid #ced4da !important;
      }
    </style>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
<div class="row">
  <div class="col-md-5">
    <div class="card" style="padding: 10px; margin: 5px;" alt="Responsive card">

      <div class="card-body">
        <h5 class="card-title">Usuarios:</h5>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
      <template is="dom-if" if="[[exito]]">
        <p class="alert-success"><strong>Éxito:</strong> [[exito]]</p>
    </template>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" placeholder="Ingresa nombre" value="{{firstName::input}}">
        </div>
        <div class="form-group">
         <label for="apellido">Apellido</label>
         <input type="text" class="form-control" id="apellido" placeholder="Ingresa apellido" value="{{lastName::input}}">
       </div>
        <div class="form-group">
          <label for="correo">Correo</label>
          <input type="email" class="form-control" id="correo" placeholder="Ingresa email" value="{{email::input}}">
        </div>
        <div class="form-group">
         <label for="clave">Clave</label>
         <input type="password" class="form-control" id="clave" placeholder="Ingresa clave" value="{{password::input}}">
       </div>

   <button type="button" class="btn btn-success" on-click="crear">Dar de alta</button>
      </div>
      </div>
  </div>
  <div class="col-md-7">

<div class="card" style="padding: 5px; margin: 5px;" alt="Responsive card">

<div class="card-body">
  <h5 class="card-title">Lista de usuarios:</h5>
  <template is="dom-if" if="[[delete]]">
    <p class="alert-success"><strong>Éxito:</strong> [[delete]]</p>
</template>
<table class="table table-striped">
<thead>
 <tr>
  
   <th scope="col">Id</th>
   <th scope="col">Nombre</th>
   <th scope="col">Apellido</th>
   <th scope="col">Correo</th>
   <th scope="col">Operaciones</th>
 </tr>
</thead>
<tbody>
 <template is="dom-repeat" items="{{usuarios}}" >
   <tr>
     <td>{{item.id}}</td>
     <td>{{item.first_name}}</td>
     <td>{{item.last_name}}</td>
     <td>{{item.email}}</td>
     <td>
      <button type="button" class="btn btn-danger" on-click="eliminar">Dar de baja</button>
    </td>
   </tr>
 </template>
</tbody>
</table>
</div>
</div>
</div>
</div>

<iron-ajax auto
      id="getUsers"
      url="http://localhost:3001/tech/v2/users"
      handle-as="json"
      on-response="showData">


<iron-ajax
id="doEliminar"
url="http://localhost:3001/tech/v2/users/{{userid}}"
method="DELETE"
handle-as="json"
on-response="manageAJAXResponseEliminar"
on-error="showError">

<iron-ajax
id="doCrear"
url="http://localhost:3001/tech/v2/users"
content-type="application/json"
method="POST"
handle-as="json"
on-response="manageAJAXResponseCrear"
on-error="showError">
  </template>

  <script>
    class ListUsuarios extends Polymer.Element {
      static get is() { return 'list-usuarios'; }
      static get properties() {
        return {
          userid : {
            type: Number
          }, firstName: {
            type: String
          }, lastName: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          },opEliminar: {
            type: Boolean
          }
        };
      }

     // After the properties, but inside the class.
      eliminar(e) {
       console.log("El usuario ha pulsado el botón eliminar");
       this.userid=e.model.item.id;
       console.log(this.userid);
       this.$.doEliminar.generateRequest();
     }

     crear(e) {
       console.log("El usuario ha pulsado el botón dar de alta");
       console.log(this.firstName);
       console.log(this.lastName);
       var usuario = {
         "first_name": this.firstName,
         "last_name": this.lastName,
         "email" : this.email,
         "password" : this.password
       };

       this.$.doCrear.body = JSON.stringify(usuario);
       this.$.doCrear.generateRequest();
     }

     
     //Dar de baja
     manageAJAXResponseEliminar(data) {
       
      console.log("Recibida respuesta del servidor eliminar");
       this.idusu = data.detail.response.id;
       
       let nombre=data.detail.response.first_name;
      // this.opEliminar= true;
       console.log(this.idusu);
       this.$.getUsers.generateRequest();
       this.delete=`Usuario ${nombre} eliminado`;
     }
     //Dar de alta
     
     
      manageAJAXResponseCrear(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response.id);
       this.idusu = data.detail.response.userid;
       if ( data.detail.response!=undefined  ) {
         this.exito="Usuario registrado";
         console.log('Usuario registrado!');
         //limpiar campos
         this.firstName=null;
         this.lastName=null;
         this.email=null;
         this.password=null;
     /*    console.log(window.location.href);
       window.location = 'visor-usuario';
      window.location.href = "/visor-usuario/visor-usuario.html";*/
       } else {
        console.log('Usuario no registrado!');
        this.error="Usuario no registrado";
       }
       this.$.getUsers.generateRequest();
       
     }

     showError(er) {
       console.log("Hubo un error");
       console.log(er);
       this.error=er;
     }

     
      showData(data) {
        console.log('response usuarios');
    
        this.usuarios = data.detail.response;
        console.log(this.usuarios);
        // this.balance = data.detail.response[0].balance;
        
        //this.iban =data.detail.response[0].account[0].iban;
        //this.saldo = data.detail.response[0].account[0].saldo;

        console.log('response3');
      }
    }

    window.customElements.define(ListUsuarios.is, ListUsuarios);
  </script>
</dom-module>
