<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="/src/log-out.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

<iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

<brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
<div class="card">
  <div id="unauthenticated"  hidden$="[[storedUser.logged]]">
      <h1>Ingresar</h1>
  <p><strong>Ingresar</strong> o <strong>Salir</strong> para acceder a tu Banca KriVa!</p>
  <template is="dom-if" if="[[error]]">
    <p class="alert-error"><strong>Error:</strong> [[error]]</p>
</template>
  <paper-input-container>
    <label slot="input">Username</label>
    <iron-input slot="input" bind-value="">
      <input id="email" type="email" value="{{email::input}}" placeholder="Username" required>
    </iron-input>
  </paper-input-container>
  <paper-input-container>
    <label>Password</label>
    <iron-input slot="input" bind-value="{{password::input}}">
      <input id="password" type="password" value="" placeholder="Password" required>
    </iron-input>
  </paper-input-container>
  <div class="wrapper-btns">
    <paper-button raised class="primary" on-tap="postLogin">Entrar</paper-button>
  </div>
</div>
<div id="authenticated" hidden$="[[!storedUser.logged]]">
  <h2>Hola, [[nameUser]]!</h2>
  <p>Esta logeado. Puedes acceder a ver tus <a href="[[rootPath]]home-cuentas">cuentas y movimientos</a>!</p>
  <log-out stored-user=""></log-out>
</div>
</div>

    <iron-ajax
     id="doLogin"
     url="http://localhost:3001/tech/v2/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

  </template>

  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }
      static get properties() {
        return {
         formData: {
          type: Object,
           value: {}
        },
        email: {
           type: String
         }, password: {
           type: String
         },
        nameUser: {
          type: String
        },
        logged: {
          type: Boolean,
           value: false
        },
        idusu:{
           type: String
         },
         storedUser:{
          type: Object,
           value: {}
         } 


    }
  }

  /*_setReqBody() {
    console.log(this.formData);
  this.$.doLogin.body = this.formData;
}*/

postLogin() {
  //this._setReqBody();
  console.log("El usuario ha pulsado el botón login");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
  this.$.doLogin.generateRequest();
}

manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       var response = data.detail.response;
       console.log(response);
       
   
       console.log(response.logged);
       
     
      /* this.idusu = data.detail.response.userid;
       this.first_name = data.detail.response.name;
       if ( data.detail.response.userid!=undefined || data.detail.response.email!=undefined ) {
         this.isLogged = true;
         console.log('Usuario correcto!');*/
     /*    console.log(window.location.href);
       window.location = 'visor-usuario';
      window.location.href = "/visor-usuario/visor-usuario.html";*/
      /* } else {
        console.log('Usuario incorrecto!');
         this.isLogged = false;
         this.mensaje ="Usuario incorrecto"
         console.log("mensaje:"+ this.mensaje);
       }*/


  if (response.logged) {
    this.error = '';
    this.nameUser=response.name;
    this.logged=response.logged;
    this.idusu = data.detail.response.userid;
    console.log(this.logged);
    this.storedUser = {
    nameUser:response.name,
    logged:response.logged,
    idusu : data.detail.response.userid
    };
  }else{
    this.error=data.detail.response.msg;
    this.logged=false;
  }
    // reset form data
    this.email="";
    this.password="";
    //this.formData = {};
       this.dispatchEvent(new CustomEvent('loginok', {detail:{idusu:this.idusu,
                                  isLogged:this.isLogged,
                                   name: this.first_name}}));
      
       
     }
     showError(error) {
       console.log("Hubo un error");
       console.log(error);
       this.error=data.detail.response.msg;
     }
    }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
